{% extends 'exhibitions/base.html' %}

{% block content %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/galleries/">Galleries</a></li>
            <li class="breadcrumb-item active" aria-current="page">Exhibitions</li>
        </ol>
    </nav>

    <h1>Our Exhibitions</h1>

    {% for e, items in exhibitions %}
        
        <h3>
            {{ e.name }}
            <small class="text-muted">At Gallery {{ e.gallery.name }}</small>
        </h3>

        <ul>
            {% for i in items %}
                <li><a href="/item/{{ i.pk }}">{{ i.name }}</a></li>
            {% endfor %}
        </ul>
        
        <hr>

    {% endfor %}

{% endblock %}