{% extends 'exhibitions/base.html' %}

{% block content %}
    <form action="/search_artworks/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Search"/>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Style</th>
                <th>Year</th>
                <th>Exhibition</th>
            </tr>
        </thead>

        <tbody>
        
            {% for result in results %}
                <tr>
                    <th scope="row"><a href="/item/{{ result.pk }}">{{ result.name }}</a></th>
                    <th>{{ result.author }}</th>
                    <th>{{ result.art_type }}</th>
                    <th>{{ result.year }}</th>
                    <th><a href="/exhibition/{{ result.exhibition.pk }}">{{ result.exhibition }}</a></th>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}